<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="trianlge" class="com.tanmay.SpringDemo.Triangle">
        <property name="pointA" ref="firstPoint"/>
        <property name="pointB">
            <!--INNER BEAN-->
            <bean class="com.tanmay.SpringDemo.Point">
                <property name="x" value="-20"/>
                <property name="y" value="0"/>
            </bean>
        </property>
        <property name="pointC" ref="anotherPoint-alias"/>
    </bean>

    <bean id="firstPoint" class="com.tanmay.SpringDemo.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="anotherPoint" class="com.tanmay.SpringDemo.Point">
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>
    <!---->
    <alias name="anotherPoint" alias="anotherPoint-alias"/>

</beans>